body{
    background-color: rgb(128, 128, 128);
    }

p {
    font-size: 30px
}

    h1{
        font-size: 80px

        color: blue;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    #kj {
        width: 40px
    }
