body{
    background-color: rgb(128, 128, 128);
    }

p {
    font-size: 20px
}

    h1{
        font-size: 80px

        color: blue;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
