body{
    background-color: gray;
    }

p {
    font-size: large;
}

    h1{
        font-size: 80px;
        color: blue;
        text-align: left;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
